<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="">
</head>

<body>
    <h1>XXX</h1>
    <video id="localStream" width="900" controls></video>
    <br>
    <label> Token : </label>
    <br>
    <textarea name="" rows="3" cols="100" id="taMySignal"></textarea>
    <input type="text" name="" value="" placeholder="Your friend's signal" id="txtFriendSignal">
    <button id="btnConnect">Connect</button>
</body>
<script type="text/javascript">

</script>
<script type="text/javascript" src="bundle.js"></script>
</html>